@{ 
//var MonthDate = ViewBag.Date;
}
<div>
    <div style="text-align:left;">
        <img style="width:80px;height:80px" src="@Server.MapPath("~/Images/ATS.png")" alt="" />
        @*<h3 style="text-align:center">Attendance for ADPMCL Employees for the month of @string.Format("{0:MMMM}", MonthDate) @string.Format("{0:yyyy}", MonthDate)</h3>*@
    </div>
</div>
