

@model ATS.Core.Domain.DTO.UserAccountViewModel

@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript.Web

@{
    ViewBag.Title = "EmployeeLeaves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel">
    <header class="panel-heading">
        <h3 class="panel-title">Employee Leaves</h3>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="example-wrap">
                <div class="row">

                    <div class="col-xs-12 col-sm-4 col-lg-2">
                        <div class="example">
                            <ul class="list-unstyled">
                                <li class="margin-bottom-20">
                                    <a href="@Url.Action("AddEmployeeLeaves","Master")" class="btn btn-block btn-primary">ADD LEAVE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <script type="text/x-jsrender" id="columnTemplateEdit">
                    <a href="EmployeeLeavesDetail/{{:Id}}"><button type="submit" class="btn btn-primary">Edit </button></a>
                </script>
                <script type="text/x-jsrender" id="columnTemplateDelete">
                    <a href="EmployeeLeavesDetail/{{:Id}}"><button type="submit" class="btn btn-primary">Delete </button></a>
                </script>                

                @(Html.EJ().Grid<ATS.Core.Domain.DTO.EmployeeLeaveViewModel>("FlatGrid")
                .Datasource(ds => ds.URL(Url.Action("EmployeeLeavesData", "Master")).Adaptor("UrlAdaptor"))
                 .AllowSorting()
                  .AllowPaging()
                  .PageSettings(x => x.PageSize(10))
         .AllowSelection()
         .SelectionType(Syncfusion.JavaScript.SelectionType.Multiple)
                .Columns(col =>
                {
                    col.Field("EmployeeCode").HeaderText("Employee Code").IsPrimaryKey(true).TextAlign(Syncfusion.JavaScript.TextAlign.Right).Width(75).Add();
                    col.Field("Name").HeaderText("Name").Width(80).Width(100).Add();
                    col.Field("LeaveStart").HeaderText("Leave Start").Width(80).Width(100).Format("{0:dd MMMM yyyy}").Add();
                    col.Field("LeaveEnd").HeaderText("Leave End").Width(80).Width(100).Format("{0:dd MMMM yyyy}").Add();
                    col.Field("LeaveType").HeaderText("Leave Type").Width(80).Width(100).Add();
                    col.Field("Remark").HeaderText("Remark").Width(80).Width(100).Add();
                    col.Field("").HeaderText("Manage").Template(true).TemplateID("#columnTemplateEdit").Width(80).Add();
                    col.Field("").HeaderText("Delete").Template(true).TemplateID("#columnTemplateDelete").Width(80).Add();
                }))
            </div>
        </div>

    </div>
</div>






